.contact-box{
    margin: 20px auto;
    min-height: 550px;
    box-sizing: border-box;
    width: 100%;
    font-family: var(--font3);
    background-color:#f3f4f6;
    flex-direction: column;
    border-radius: 45px;
    box-shadow: 11px 14px 20px -20px;
}
.loading{
    min-height: 50px;
    text-align: center;
    display: none;
}
.loading img{
    width: 120px;
}
.contact-box h1{
    padding: 10px;
    font-family: var(--font3);
}
.contact-form{
   margin: 50px;
}
.left-form{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#secHeading{
    font-family: var(--font2);
    font-weight: bolder;
    font-size: 1.5rem;
}
.left-form span img{
    margin: 20px;
    width: 150px;
    border: 2px solid black;
    border-radius: 91px;
}
.left-form h2{
    font-weight: bolder;
}
.right-form{
    width: 50%;
    flex-direction: column;
}
#description{
    margin: 20px;
    font-family: var(--font2);
    font-size: 1rem;
    text-align: justify;
    /* padding: 5 30px; */
}
.input{
    margin-top: 15px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 4px 4px;
    background: #c6c6c6;
}
.label_tag{
    margin-top: 10px;
}

.btn-submit {
    font-family: var(--font1);
    font-weight: bolder;
  
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 0px 12px;
    cursor: pointer;
    
    color: white;
    background-color: var(--main-bg-color-primary);
    transition: all 0.3 ease-in;
  }
  .btn-submit:hover{
      color: white;
      background-color: var(--main-bg-color-secondary);
  }

  @media (max-width:1000px){
      .contact-form{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .left-form{
        width: 85%;
    }
    .right-form{
        width: 85%;
    }
  }