*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar{
    min-height: 70px;
    background-color: rgb(255, 254, 254);
    color: white;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
}
.lable{
    align-self: center;
    font-weight: bolder;
    font-size: 25px;
}
.navItem{
    align-self: center;
    font-size: 20px;
}
.navItem ul{
    display: flex;
    background-color: rgb(255, 255, 255)
}
#navToggleLogo{
    display: none;
    align-self: center;
}
#navToggleLogo img{
    height: 15px;

}
.navItem ul li{
    margin: 0 10px;
}
.navItem ul li a:hover{
    cursor: pointer;
    color: #dfa7e4;
}
.lable a{
    color: black;
}
.navItem ul li a{
    color: black;
}
.hide{
    display: block;
}
@media (max-width:800px){
    #navToggleLogo{
        display: block;
        float: right;
    }
    .navbar{
        flex-direction: column;
    }
    .lable{
        margin-top: 20px;
        width: 100%;
        padding: 0 10px;
    }
    .navItem{
        width: 100%;
        margin-top: 20px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        transition: 0.5;
    }
    .navItem ul{
        flex-direction:column;
    
    }
    .navItem ul li{
        margin: 10px 0px;
    }
    .hide{
        display: none;
    }
    .lable{
        font-size: 20px;
    }
}