.content p{
    text-align: justify;
    font-weight: bolder;
}
.content-steps{
    width: 80%;
    margin: auto;
}
.content-steps ul li{
    padding: 10px;
    font-size: 18px;
}
#user_name{
    font-weight: bolder;
}
.content-steps strong{
    text-transform: capitalize;
    font-size: 18px;
}
body{
    background-color: rgb(247, 241, 241);
}
.language-c{
    border-radius: 20px;
}

@media (max-width:1000px) {
    .code-box{
        width: 100%;
    }
    code{
        width: 100%;
    }
}