.comment-section h1{
    /* margin-left: 30px; */
    margin: 20px 0;
    text-align: center;
}
#comment{
    width: 100%;
}
.comment-box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;
    margin-top: 20px;
}
.user-img{
    margin: 20px;
}
.user-comment-box{
    box-sizing: border-box;
    padding: 20px;
    align-self: center;
    width: 50%;
    min-height: 150px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-self: center;

}



.do-comment{
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.do-comment input{
    border-radius: 10px;
    padding: 5px;
    background: transparent;
}
.do-comment textarea{
    border-radius: 10px;
    padding: 5px;
    background: transparent;
}
.do-comment h1{
    text-align: center;
}
.btn-submit {
    font-family: var(--font1);
    font-weight: bolder;
  
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 0px 12px;
    cursor: pointer;
    
    color: white;
    background-color: var(--main-bg-color-primary);
    transition: all 0.3 ease-in;
  }
  .btn-submit:hover{
      color: white;
      background-color: var(--main-bg-color-secondary);
  }
  @media (max-width:1000px) {
    .do-comment{
        width: 90%;
    }
    .comment{
        width: 90%;
    }
    .user-comment-box{
        width: 90%;
    }
}